.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;

}
.controls {
    /*position: absolute;*/
    /*bottom: 20px;*/
    display: flex;
    flex-direction: row;
    align-items: center;

}
.grid-control {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;

}

.grid-control input {
    margin-top: 1em;
}
h1 {
    position: absolute;
    top: 10px;
}

.game-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.game-control button{
    border-radius: 5px;
    margin: 0.5em;
}